* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.col {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #404040;
    filter: opacity(80%);
    border-radius: 10px;
    height: 300px;
    width: 600px;
    margin-top: 50px;

}

.col-1 {
    margin-top: 50px;
}

.col-1 img {
    height: 100px;
    width: 100px;
}

.col h2 {
    margin-top: 50px;
}

.col h2 span {
    font-size: 17px;
}

.col h2 .percentage {
    font-size: 25px;
}

.col h2 .celcius {
    font-size: 20px;
}


@media  (max-width: 320px) {
    .col {
        height: 450px;
    }
}
