.card-container {
    margin-top: 70px;
    background-color: #404040;
    filter: opacity(80%);
    border-radius: 10px;
    padding: 20px;
    margin-left: 25px;
    min-width: 170px; 
    margin-bottom: 50px;  
}

.date {
    font-size: 30px;
    font-weight: 300;
}

.week {
    font-size: 25px;
    margin-top: 10px;
}
.time,
.weather,
.temperature{
    font-size: 20px;
    margin-top: 10px;
}

.temperature h4 {
    font-size: 30px;
}

.temperature h4 span {
    font-size: 19px;
}

.weather-icon img {
    height: 80px;
    width: 80px;
}
