* {
  margin: 0;
  padding: 0;
  font-family: 'Alice', serif;
}

.container {
  text-align: center;
  align-items: center;
  margin-top: 50px;
  color: white;
}

.form {
  margin-top: 40px;
}

.form input {
  height: 35px;
  width: 250px;
  text-align: center;
  font-size: 19px;
  border: 2px solid #3399ff;
  border-radius: 6px;
}

.form button {
  height: 30px;
  width: 150px;
  margin-top: 20px;
  font-size: 17px;
  border: none;
  border-radius: 6px;
}

.form button:hover {
  background-color: #3399ff;
  color: white;
}

h1 {
  font-size: 40px;
  margin-top: 20px;
}

h2 {
  margin: 0;
  margin-top: 20px;
  font-size: 35px;
}

.weather-container {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.loading {
  margin-top: 20px;
}

@media (max-width: 425px) {
  .container {
    align-items: center;
  }

  .form {
    width: 100%;
  }
}

