body{
  margin: 0;
  background-image: url('./pexels-pixabay-209831.jpg');
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
